/* ROSSY ANGIE VELEZ PAREDES
TIC UTM ONLINE

/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
  /* anchos para filas y contenedores
     */
  --header-height: 160px;
  --header-height-min: 80px;
}

/* en dispositivos móviles por debajo de 600px
 */
@media screen and (max-width: 600px) {
  :root {
    --header-height: 100px;
    --header-height-min: 80px;
  }
}

/* Colores del tema */
:root {
  --accent-color: #FF69B4; /* rosa fuerte */
  --dark-color: #800080; /* púrpura fuerte */
  --light-dark-color: #BA55D3; /* púrpura medio */
  --light-color: #fff;
  --grey-color: #DDA0DD; /* púrpura medio */
  --light-grey-color: #E6E6FA; /* púrpura muy claro */
  --primary-color: #9370DB; /* lavanda medio */
  --light-primary-color: #D8BFD8; /* lavanda claro */
}

/* Tipografías */
:root {
  --body-font: 'Chilanka', cursive;
  --heading-font: 'Chilanka', cursive;
  --secondary-font: 'Montserrat', sans-serif;
}

body {
  --bs-link-color: #800080; /* púrpura fuerte */
  --bs-link-hover-color: #BA55D3; /* púrpura medio */

  --bs-link-color-rgb: 128, 0, 128;
  --bs-link-hover-color-rgb: 186, 85, 211;

  --bs-light-rgb: 248, 248, 248;

  --bs-font-sans-serif: 'Chilanka', cursive;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2;
  --bs-body-color: #41403E;

  --bs-primary: #FF69B4; /* rosa fuerte */
  --bs-primary-rgb: 255, 105, 180;

  --bs-primary-bg-subtle: #FFF0F5;
  --bs-border-color: #F7F7F7;

  --bs-secondary-rgb: 230, 243, 251;

  --bs-success-rgb: 238, 245, 228;
  --bs-danger-rgb: 249, 235, 231;
  --bs-warning-rgb: 255, 249, 235;
  --bs-info-rgb: 230, 243, 250;
}

.btn-primary {
  padding: 1.2rem 3rem;
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF69B4; /* rosa fuerte */
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF1493; /* rosa más oscuro */
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF69B4;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: transparent;
}

.btn-outline-primary {
  transition: all 0.3s ease-in;
  padding: 1.2rem 3rem;
  letter-spacing: 0.02375rem;
  --bs-btn-color: #FF69B4; /* rosa fuerte */
  --bs-btn-border-color: #FF69B4; /* rosa fuerte */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF69B4; /* rosa fuerte */
  --bs-btn-hover-border-color: #FF69B4; /* rosa fuerte */
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF69B4; /* rosa fuerte */
  --bs-btn-active-border-color: #FF69B4; /* rosa fuerte */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #FF69B4; /* rosa fuerte */
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #FF69B4; /* rosa fuerte */
  --bs-gradient: none;
}

.btn-outline-dark {
  transition: all 0.3s ease-in;
  padding: 1.2rem 3rem;
  letter-spacing: 0.02375rem;
  text-transform: uppercase;
  --bs-btn-color: #800080; /* púrpura fuerte */
  --bs-btn-border-color: #800080; /* púrpura fuerte */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #800080; /* púrpura fuerte */
  --bs-btn-hover-border-color: #800080; /* púrpura fuerte */
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #800080; /* púrpura fuerte */
  --bs-btn-active-border-color: #800080; /* púrpura fuerte */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #800080; /* púrpura fuerte */
  --bs-btn-disabled-bg: transparente;
  --bs-btn-disabled-border-color: #800080; /* púrpura fuerte */
  --bs-gradient: none;
}


.btn-dark {
  padding: 1.2rem 3rem;
  font-size: 1.1875rem;
  text-transform: uppercase;
  --bs-btn-color: #fff;
  --bs-btn-bg: #800080; /* strong purple */
  --bs-btn-border-color: #800080; /* strong purple */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4B0082; /* darker purple */
  --bs-btn-hover-border-color: #4B0082; /* darker purple */
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #800080; /* strong purple */
  --bs-btn-active-border-color: #800080; /* strong purple */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #800080; /* strong purple */
  --bs-btn-disabled-border-color: #800080; /* strong purple */
}


@media screen and (max-width:991px) {

  .btn-primary,
  .btn-outline-primary,
  .btn-outline-dark,
  .btn-dark {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
  }
}

body {
  letter-spacing: 0.01625rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--bs-body-color);
  font-weight: 400;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
/* Colores del tema */
:root {
  --accent-color: #FF69B4; /* rosa fuerte */
  --dark-color: #800080; /* púrpura fuerte */
  --light-dark-color: #BA55D3; /* púrpura medio */
  --light-color: #fff;
  --grey-color: #DDA0DD; /* púrpura medio */
  --light-grey-color: #E6E6FA; /* púrpura muy claro */
  --primary-color: #9370DB; /* lavanda medio */
  --light-primary-color: #D8BFD8; /* lavanda claro */
}

/* Tipografías */
:root {
  --body-font: 'Chilanka', cursive;
  --heading-font: 'Chilanka', cursive;
  --secondary-font: 'Montserrat', sans-serif;
}

body {
  --bs-link-color: #800080; /* púrpura fuerte */
  --bs-link-hover-color: #BA55D3; /* púrpura medio */

  --bs-link-color-rgb: 128, 0, 128;
  --bs-link-hover-color-rgb: 186, 85, 211;

  --bs-light-rgb: 248, 248, 248;

  --bs-font-sans-serif: 'Chilanka', cursive;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2;
  --bs-body-color: #41403E;

  --bs-primary: #FF69B4; /* rosa fuerte */
  --bs-primary-rgb: 255, 105, 180;

  --bs-primary-bg-subtle: #FFF0F5;
  --bs-border-color: #F7F7F7;

  --bs-secondary-rgb: 230, 243, 251;

  --bs-success-rgb: 238, 245, 228;
  --bs-danger-rgb: 249, 235, 231;
  --bs-warning-rgb: 255, 249, 235;
  --bs-info-rgb: 230, 243, 250;
}

.btn-primary {
  padding: 1.2rem 3rem;
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF69B4; /* rosa fuerte */
  --bs-btn-border-color: transparente;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF1493; /* rosa más oscuro */
  --bs-btn-hover-border-color: transparente;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF69B4;
  --bs-btn-active-border-color: transparente;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: transparente;
}

.btn-outline-primary {
  transition: all 0.3s ease-in;
  padding: 1.2rem 3rem;
  letter-spacing: 0.02375rem;
  --bs-btn-color: #FF69B4; /* rosa fuerte */
  --bs-btn-border-color: #FF69B4; /* rosa fuerte */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF69B4; /* rosa fuerte */
  --bs-btn-hover-border-color: #FF69B4; /* rosa fuerte */
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF69B4; /* rosa fuerte */
  --bs-btn-active-border-color: #FF69B4; /* rosa fuerte */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #FF69B4; /* rosa fuerte */
  --bs-btn-disabled-bg: transparente;
  --bs-btn-disabled-border-color: #FF69B4; /* rosa fuerte */
  --bs-gradient: none;
}

.btn-outline-dark {
  transition: all 0.3s ease-in;
  padding: 1.2rem 3rem;
  letter-spacing: 0.02375rem;
  text-transform: uppercase;
  --bs-btn-color: #800080; /* púrpura fuerte */
  --bs-btn-border-color: #800080; /* púrpura fuerte */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #800080; /* púrpura fuerte */
  --bs-btn-hover-border-color: #800080; /* púrpura fuerte */
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #800080; /* púrpura fuerte */
  --bs-btn-active-border-color: #800080; /* púrpura fuerte */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #800080; /* púrpura fuerte */
  --bs-btn-disabled-bg: transparente;
  --bs-btn-disabled-border-color: #800080; /* púrpura fuerte */
  --bs-gradient: none;
}

.btn-dark {
  padding: 1.2rem 3rem;
  font-size: 1.1875rem;
  text-transform: uppercase;
  --bs-btn-color: #fff;
  --bs-btn-bg: #800080; /* púrpura fuerte */
  --bs-btn-border-color: #800080; /* púrpura fuerte */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4B0082; /* púrpura más oscuro */
  --bs-btn-hover-border-color: #4B0082; /* púrpura más oscuro */
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #800080; /* púrpura fuerte */
  --bs-btn-active-border-color: #800080; /* púrpura fuerte */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #800080; /* púrpura fuerte */
  --bs-btn-disabled-border-color: #800080; /* púrpura fuerte */
}


.breadcrumb.text-white {
  --bs-breadcrumb-divider-color: #fff;
  --bs-breadcrumb-item-active-color: var(--bs-primary);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-primary);
}

.secondary-font {
  font-family: var(--secondary-font);
  font-weight: 300;
}

/* Preloader */
.preloader-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  background: #fff;
}

.preloader-wrapper .preloader {
  margin: 20% auto 0;
  transform: translateZ(0);
}

.preloader:before,
.preloader:after {
  content: '';
  position: absolute;
  top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: animation 1.2s infinite ease-in-out;
}

.preloader {
  animation-delay: -0.16s;
}

.preloader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.preloader:after {
  left: 3.5em;
}

@keyframes animation {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em var(--accent-color);
  }
  40% {
    box-shadow: 0 2em 0 0 var(--accent-color);
  }
}

/* estilo de la barra de búsqueda */
.search-bar {
  border: 1px solid #E1BEE7; /* púrpura claro */
}

.search-bar ::placeholder {
  font-family: var(--secondary-font);
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #D1C4E9; /* lavanda claro */
  outline: 0;
  box-shadow: none;
}

/* estilo de la barra de navegación */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:focus,
.nav-link:hover {
  color: #FF69B4; /* rosa fuerte */
}

/* estilo de categoría */
iconify-icon.category-icon {
  color: #BA55D3; /* púrpura medio con transparencia */
  font-size: 100px;
  transition: all 0.3s ease-in;
}

a.categories-item:hover iconify-icon.category-icon {
  color: #FF69B4; /* rosa fuerte */
}

/* estilo del banner */
.swiper-pagination-bullet {
  border: 1px solid var(--bs-body-color);
  background-color: transparent;
  opacity: 1;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
}





.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--bs-body-color);
  background: var(--bs-body-color);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}




/* ropa para mascotas */
.card {
  --bs-card-inner-border-radius: none;
  --bs-card-bg: transparente;
  background-color: transparente;
  border: none;
}

a.btn-cart {
  border-radius: 0.25rem;
  border: 1px solid rgba(65, 64, 62, 0.20);
}

a.btn-wishlist {
  border-radius: 0.25rem;
  border: 1px solid rgba(65, 64, 62, 0.20);
}

/* estilo de alimentos para mascotas */
button.filter-button {
  letter-spacing: 0.02125rem;
  border: none;
  border-bottom: 2px solid #E1BEE7; /* púrpura claro */
  background: transparente;
  text-transform: uppercase;
  font-size: 1.0625rem;
  transition: all 0.3s ease-in;
}

button.filter-button.active,
button.filter-button:hover {
  border-bottom: 2px solid #F7C8E0; /* rosa pastel */
}

/* estilo de testimonios */
.testimonial-content {
  color: #8b1361; /* marrón fuerte */
}

iconify-icon.quote-icon {
  color: #DDA0DD; /* lavanda medio */
  font-size: 14rem;
}

/* formulario de registro */
.form-control {
  color: #8B4513; /* marrón fuerte */
  line-height: normal;
  letter-spacing: 0.02125rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  border: 1px solid rgba(65, 64, 62, 0.40); /* contraste más fuerte */
  background: #FFF;
  display: flex;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  align-items: center;
  gap: 0.375rem;
  align-self: stretch;
}

.form-control:focus {
  border-color: #4B0082; /* púrpura oscuro más fuerte */
}

/* estilo del blog */
.blog-paragraph {
  color: #8b1347; /* marrón fuerte */
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  font-family: var(--secondary-font);
}

.blog-read {
  color: #8b1347; /* marrón fuerte */
  font-size: 1rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

a.blog-read {
  border-bottom: 3px solid #9370DB; /* lavanda más fuerte */
  transition: all 0.3s ease-in;
}



















a.blog-read:hover {
  border-bottom: 3px solid #FF69B4; 
}


.service-icon {
  font-size: 30px;
  border-radius: 3.125rem;
  border: 1px solid #9370DB; 
  padding: 1.25rem;
}
/* estilo de Instagram */
.instagram-item:hover:before,
.instagram-item:hover .icon-overlay {
  opacity: 1;
  cursor: pointer;
}

.icon-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0;
  -moz-transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

/* estilo del pie de página */
iconify-icon.social-icon {
  color: #D1C4E9; /* lavanda claro */
  font-size: 1.125rem;
  padding: 0.75rem;
  border-radius: 4.375rem;
  border: 1px solid #E1BEE7; /* púrpura claro */
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
  transition: all 0.5s ease;
}

li.social:hover iconify-icon.social-icon {
  color: #FFF;
  border: 1px solid #F7C8E0; /* rosa pastel */
  background: #F7C8E0; /* rosa pastel */
}

iconify-icon.send-icon {
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.75rem;
  border-radius: 4.375rem;
  color: #FFF;
  border: 1px solid #F7C8E0; /* rosa pastel */
  background: #F7C8E0; /* rosa pastel */
}

@media screen and (max-width: 991px) {

  /* menú offcanvas */
  .offcanvas-body .nav-item {
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
  }

  .offcanvas-body .filter-categories {
    width: 100%;
    margin-bottom: 20px !important;
    border: 1px solid #d1d1d1 !important;
    padding: 14px;
    border-radius: 8px;
  }

  /* menú desplegable */
  .dropdown-menu {
    padding: 0;
    border: none;
    line-height: 1.4;
    font-size: 0.9em;
  }

  .dropdown-menu a {
    padding-left: 0;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 21px;
  }
}

/*--------------------------------------------------------------
estilo de la sección de preguntas frecuentes
--------------------------------------------------------------*/
.accordion-button:not(.collapsed) {
  color: var(--body-text-color);
  background-color: transparente;
  box-shadow: none;
}

.accordion {
  --bs-accordion-color: var(--light-text-color);
  --bs-accordion-bg: none;
  --bs-accordion-btn-color: var(--body-text-color);
}

.accordion-button:not(.collapsed)::after {
  background-image: url('https://api.iconify.design/eva/arrow-down-fill.svg?color=%2341403e');
}

.accordion-button::after {
  background-image: url('https://api.iconify.design/eva/arrow-down-fill.svg?color=%2341403e');
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  box-shadow: none;
}

/*--------------------------------------------------------------
estilo de la sección de la cuenta
--------------------------------------------------------------*/
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--accent-color);
}

/*--------------------------------------------------------------
estilo de la sección del blog
--------------------------------------------------------------*/
/* ------ Paginación ------*/
.pagination .page-numbers {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--bs-body-color);
  padding: 0 10px;
  line-height: 1.4;
  transition: 0.9s all;
  border-radius: 8px;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.current {
  color: var(--accent-color);
}

iconify-icon.pagination-arrow {
  color: var(--bs-body-color);
  transition: 0.9s all;
}

iconify-icon.pagination-arrow:hover {
  color: var(--accent-color);
}

/*--------------------------------------------------------------
estilo de la sección de un solo producto
--------------------------------------------------------------*/
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--light-color);
  background-color: var(--accent-color);
}
